/*home page*/
body,html{
    height:  100%;
}
.home-page {
    background-repeat: no-repeat;
    background-size: cover;
    color: #2c3e50;
    height:  100%;
    background-image: url("../img/back1.jpg");
    transfrom:scale(1);
    animation: changbk 5s linear infinite ;
}
@keyframes changbk{
    20%   {background-image: url("../img/back1.jpg"); transfrom:scale(1.2)}
    40%  {background-image: url("../img/back2.jpg"); transfrom:scale(1.2)}
    60%  {background-image: url("../img/back2.jpg"); transfrom:scale(1)}
    80%  {background-image: url("../img/back3.png"); transfrom:scale(1)}
    100%  {background-image: url("../img/back3.png");transfrom:scale(1.2)}
}
.home-page .container {
    position: relative;
    top: 32%;
    /* transform: translate(-50%, -50%); */
    text-align: center;
}

.home-page > .lvjing {
    text-align:  center;
    vertical-align: bottom;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

.home-page .name {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.3em;
    margin-bottom: 50px;
}

.home-page .vision {
    font-size: 20px;
    letter-spacing: 0.2em;
    margin-bottom: 50px;
}

.home-page .btn-box > a {
    padding: 10px 38px;
    letter-spacing: 0.2em;
}

.btn-box.te-r > a {
    background: #2c3e50;
    color: #f4f4f4;
    border: 1px solid #dcdcdc;
    margin-bottom: 20px;
}

.btn-box.te-l > a {
    border: 1px solid #2c3e50;
}

/*home page end*/

/*nav*/
nav.navbar-default .navbar-nav > li > a:hover {
    color: #c71807;
}
nav.navbar.navbar-default.navbar-static-top {
    border-width: 0;
    box-shadow: 0px 3px 3px 0px #2c3e50;
}

nav.navbar {
}

nav.navbar.navbar-default.navbar-static-top {
}
nav.navbar-default .navbar-nav > li > a:hover{
    color: #555;
    background-color: #e7e7e7;
}
nav.navbar-default .navbar-nav > li > a{
}
nav span.icon-bar {
    margin-right: 5px;
}

nav span.icon-bar:last-child {
    margin-right: 0;
}

nav .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    color: #e2e2e2;
}

/*nav end*/

/*about me*/
.about-me{
    min-height: 700px;
    width:  100%;
}
.about-me-title {
    margin-top: 80px;
    font-size: 28px;
    text-align: center;
    color: #333333;
    font-weight: 600;
}
.about-me-title.job{
}
.about-me img  {
    width: 200px;
    height: 200px;
    display:  inline-block;
    border-radius: 50%;
    border: 4px solid #eaeaea;
    box-shadow: 4px 5px 8px 0px #00000070;
}
.about-me .col-md-10.col-md-offset-1 {
    text-align: center;
}

@keyframes lineScale {
    from{transform: scaleX(1)}
    to{transform: scaleX(0)}
}
.about-me-li {
    width: 90px;
    height: 5px;
    background-color: #E87E04;
    text-align: center;
    margin: 10px auto 60px;
    animation: lineScale 2s 2s 4 alternate backwards;
}
.run-dot{
    display:  inline-block;
    margin-bottom:  40px;
    border-radius: 50%;
    position:  relative;
}
@keyframes  clip-run {
    0%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(360deg);}
 }
.run-dot:before{
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #ce651a;
    position:  absolute;
    clip: rect(100px 100px auto auto);
    animation: clip-run 8s linear infinite;
    box-shadow: inset -1px 0px 3px 15px #00000052;
}
.state-item{
    display: inline-block;
    box-sizing: border-box;
    background-color: #23527c;
    color: white;
    border-radius: 50%;
    padding:  10px;
    min-height: 75px;
    vertical-align:  middle;
    padding-top: 14px;
    min-width:  75px;
}
.mag-bm{
    margin-bottom: 10px;
}
.about-me-text{
    font-size: 16px;
    text-indent: 2em;
    line-height: 25px;
    margin-bottom: 14px;
    text-align:  left;
    padding: 10px 5px;
}
/*about me end*/


/*job-intention*/
.job-intention{
    background-image: url("../img/skills-bg.jpg");
    background-attachment:  fixed;
    font-size: 14px;
    min-height: 700px;
}
.about-me-item{
    text-align:  center;
    padding: 10px;
    box-sizing:  border-box;
    transition: all 1s;
    background-color: transparent;
    border:1px solid transparent;
    box-sizing: border-box;
}
.about-me-item:hover{
    border:1px solid white;
    background-color: rgba(127, 127, 127, 0.4);
    box-shadow: inset 0px 0px 10px 4px white;
}
.about-me-item>img{display:  inline-block;}
.about-me-item >.item-title {
    color: #E87E04;
    margin: 30px 0 10px 0;
    text-align:  center;
    font-weight:  600;
}
.about-me-item >.item-text {

text-align:  left;

margin-bottom:  20px;

display: inline-block;
}
/*job-intention end*/


/*Portfolio*/
.Portfolio{
    min-height:700px;
}

.Portfolio-img{
    width: 100%;
    opacity: .6;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    transform: scale(1);
    transition: all .8s;
}
.Portfolio-img.on{
    transform: scale(1.07);
    
}
.Portfolio .row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}
.Portfolio-a{
    position: relative;
    font-size: 14px;
    color: white;
    margin:  15px 0;
}
.Portfolio-a:hover{
   color: white;
}
.Portfolio .cover{
    position: absolute;
    width: calc(100% - 30px);
    height: 100%;
    top: 0;
    left: 15px;
    text-align:  center;
    display:  inline-block;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    animation: cover-scale .1s;
    transform: scale(1.07);
}
@keyframes cover-scale {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1.07);
    }
}
.Portfolio .p-item>p:first-child{
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 10px;
}
.p-box{
  /*  display: inline-block;*/
    position:  absolute;
    top: 15%;
    bottom: 0;
    left:  0;
    right:  0;
    transform: translate(0 ,0);
    padding: 0 10px;
}
.p-item{
    padding: 0 15px;
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
/*Portfolio end*/

/*technique*/
.technique{
    min-height: 700px;
    background-image: url("../img/skills-bg.jpg");
    background-attachment: fixed;
    position:  relative;
}
.technique-item-box{
    margin-top: 60px;
}
.technique-item{
    height: 180px;
    text-align: center;
    position:  relative;
}
.text-echart{
    color: #e87e04;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.title-echart{
    color: #2c3e50;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    bottom: -20px;
    left:50%;
    transform: translate(-50%,0);
}
/*technique end*/

/*business-history*/
.business-history{
    min-height: 700px;
    background-image: url("../img/skills-bg.jpg");
    background-attachment: fixed;
    font-size: 14px;
}
.business-history-text{
    text-align:  center;
    display:  inline-block;
}
.history{
    padding-top: 100px;
    font-size: 14px;
    line-height:  22px;
    margin-bottom: 60px;
    position:  relative;
    text-align:  left;
    padding-left: 62px;
    border-left: 1px solid #b3b3b3;
}
.center{
    text-align: center;
}
.history.two{
    padding-top: 200px;
    margin-bottom:  0;
}
.history:before{
    display: inline-block;
    width: 120px;
    height: 120px;
    content: '11/2016\A --\A 03/2018';
    white-space: pre-wrap;
    font-size: 14px;
    font-weight: 600;
    background-color: #f5f5f5;
    border: 1px solid #b3b3b3;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -60px;
    text-align:  center;
    line-height: 30px;
    padding-top: 12px;
}
.history:after{
    content: '09/2008\A --\A 07/2012';
    white-space: pre-wrap;
    display: inline-block;
    width: 120px;
    height: 120px;
    font-size: 14px;
    font-weight: 600;
    background-color: #f5f5f5;
    border: 1px solid #b3b3b3;
    border-radius: 50%;
    position: absolute;
    bottom: 57px;
    left: -60px;
    text-align:  center;
    line-height: 30px;
    padding-top: 12px;
}
.history>h4{
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
   
}
.margin-top{
    margin-top: 140px;
}
.history>p.col-red{
    color: #e87e04;
    font-size:  16px;
    font-weight:  600;
    line-height:  30px;
}
.history>p{
    text-align: left;
}
/*business-history end*/

/*contact me*/
.about-me-tell{
    text-align: center;
    font-size: 18px;
    padding-top: 35px;
}
.about-me-p{
    display:  inline-block;
}
.about-me-p>a,
.about-me-p>p{
    text-align: left;
    display:  block;
    line-height:  30px;
    color:  #333333;
}

.about-me-p>a:hover{
    text-decoration: none;
    cursor: pointer;
}
.github{
    text-indent: -2px;
}
.github:before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    background-image: url("../img/s_github.svg");
    background-size: cover;
    left: 2px;
    top: 4px;
    position: relative;
}
/*contact me end*/


/*top-fixed*/
.top-fixed{
    display: none;
    position: fixed;
    font-size: 2em;
    color: #b56969b0;
    background-color: #ffffff4d;
    bottom: 20%;
    right: 3%;
    height: 50px;
    border-radius: 50%;
    width:  50px;
    text-align:  center;
    box-shadow: inset -2px -6px 20px 3px #0000009e;
    font-weight: 600;
    cursor:  pointer;
    line-height:  50px;
    z-index:  20;
}
/*top-fixed end*/